{% if phase['title'] %}
<h3>
  {{ phase['title'] }}
  {% if phase.get('vod') %}
  <a class="btn btn-sm btn-info" target="_blank" href="{{ phase['vod'] }}"><i class="fas fa-video me-1"></i> Watch</a>
  {% endif %}
</h3>
{% endif %}

<div class="row">

  {% for entry in phase['entries'] %}
  <div class="col-12 col-md-6 col-xl-3">

    <div class="card border-secondary mb-4 entry">

    {% if entry.get('preview_image') %}
      {# We check if there is a preview image provided. Works only if image is part of the project under ./media #}
      <img src="./media/{{ entry['preview_image'] }}" class="card-img-top">
    {% elif entry.get('shadertoy_url') %}
      {# Backup plan if shadertoy is available, there is a change a preview has been generated #}
      {% set stid = entry['shadertoy_url'].split('/') %}
      <img src="./media/{{ stid[-1] }}.jpg" class="card-img-top">
    {% elif entry.get('tic80_cart_id') %}
      {# Could be a Bytebattle entry (only TIC80) #}
      <img src="./media/cart_{{ entry['tic80_cart_id'] }}.gif" class="card-img-top">
    {% else %}
      {# No preview available so default image #}
      <img src="./assets/img/image-not-found.png" class="card-img-top">
    {% endif %}

      <div class="card-body bg-dark text-light">

        <h5 class="card-title">

          {% if entry.get('rank') %}
            <span class="badge bg-light text-dark">
            {% if phase['entries']|length > 2 %}
              {% if entry['rank'] in [1, 2, 3] %} <i class="fas fa-medal"></i>{% endif %}
            {% else %}
              {% if entry['rank'] == 1 %} <i class="fas fa-medal"></i>{% endif %}
            {% endif %}
            {{ entry['rank'] }}
            </span>
          {% endif %}

          <span>
            {% if entry['handle'] %}
            <a class="link-light" href="./performers/{{ hash_handle(entry['handle']) }}.html">
              {{ entry['handle'].get('demozoo_name') or entry['handle'].name }}
            </a>
            {% endif %}
          </span>

        </h5>

        <div class="card-text text-secondary">
          <table class="mt-3">

            {% if entry.get('points') %}
            <tr>
              <th>Points</th>
              <td><span class="badge bg-dark text-warning">{{ entry['points'] }}</span></td>
            </tr>
            {% endif %}

            {% if entry.get('vod') %}
            <tr>
              <th>Video</th>
              <td>
                <a class="ps-2 btn btn-sm btn-dark text-info" target="_blank" href="{{ entry['vod'] }}">
                  <i class="fas fa-video me-1"></i> Watch
                </a>
              </td>
            </tr>
            {% endif %}

            {% if entry.get('shadertoy_url') %}
            <tr>
              <th>Shadertoy</th>
              <td>
                <a class="ps-2 btn btn-sm btn-dark text-info" target="_blank" href="{{ entry['shadertoy_url'] }}">
                  <img height="12" width="auto" class="shadertoy_logo me-1" src="./assets/img/shadertoy.png"> View
                </a>
              </td>
            </tr>
            {% endif %}

            {% if entry.get('tic80_cart_id') %}
            <tr>
              <th>TIC80.com</th>
              <td>
                <a class="ps-2 btn btn-sm btn-dark text-info" target="_blank" href="https://tic80.com/play?cart={{ entry['tic80_cart_id'] }}">
                  <i class="fas fa-link me-1"></i> View
                </a>
              </td>
            </tr>
            {% endif %}

            {% if entry.get('source_file') %}
            <tr>
              <th>Source Code</th>
              <td>
                <a class="ps-2 btn btn-sm btn-dark text-info" target="_blank" href="{{ entry['source_file'] }}">
                  <i class="fas fa-download me-1"></i> Download
                </a>
              </td>
            </tr>
            {% endif %}

          </table>
        </div>

      </div>
    </div>
  </div>
  {% endfor %}

  {% set staffs = phase['staffs']%}
  {% include '_staff.html' %}
</div>
