{% if phase['title'] %}
<h3 class="mt-1 mb-3">
  {{ phase['title'] }} {% if phase.get('vod') %}
  <a class="btn btn-sm btn-info" target="_blank" href="{{ phase['vod'] }}"
    ><i class="fas fa-video me-1"></i> Watch</a
  >
  {% endif %} {% if phase.get('keyword') %}
  <span class="btn btn-sm btn-outline-light"
    ><i class="fas fa-tags"></i> {{ phase['keyword'] }}</span
  >
  {% endif %}
</h3>
{% endif %}

<div class="row">
  {% for entry in phase['entries'] %}
  <div class="col-12 col-md-6 col-xl-3 mb-4">
    <div class="card border-secondary h-100 entry">
      {% include '_entry_preview_image.html' %}

      <div class="card-body bg-dark text-light">
        <h5 class="card-title">
          {% if entry.get('rank') %}
          <span class="badge bg-light text-dark me-1">
            {% if phase['entries']|length > 2 %} {% if entry['rank'] in [1, 2,
            3] %} <i class="fas fa-medal"></i>{% endif %} {% else %} {% if
            entry['rank'] == 1 %} <i class="fas fa-medal"></i>{% endif %} {%
            endif %} {{ entry['rank'] }}
          </span>
          {% endif %} {% if entry['handle'] %}
          <a
            class="link-light"
            href="/performers/{{ hash_handle(entry['handle']) }}.html"
          >
            {{ entry['handle'].get('demozoo_name') or entry['handle'].name }}
          </a>
          {% endif %}
        </h5>

        <div class="card-text text-secondary mt-3">
          {% include '_entry_attributes.html' %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% set staffs = phase['staffs']%} {% include '_staff.html' %}
</div>
