{% set SITE_ROOT="." %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>About | Demoscene Livecode Events</title>
  <meta name="description" content="Live coding performance past event list" />
  {% include 'head-common.html' %}
</head>

<body class="bg-dark text-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 pt-4 gradient-top">
        {% include 'navbar.html' %}
      </div>
    </div>
  </div>

  <div class="container mt-4 mb-4 bg-dark">

    <div class="row">

      <div class="col-md-12 mt-5 mb-5">
        <h1>What is Demoscene ?</h1>
        The demoscene is an international computer art subculture focused on
        producing demos: self-contained, sometimes extremely small, computer
        programs that produce audiovisual presentations.
      </div>

      <div class="col-md-12 mt-2 mb-5">
        <h2>What is Live Coding ?</h2>
        Live Coding is a contributive performance with one or multiple artist using code to generate real-time graphics and / or music.
      </div>

      <div class="col-md-12 mt-2 mb-5">
        <h2>What is Shader Showdown</h2>
        2 performers, 25min, same start and one goal : create the best creation
        within the time limit !
      </div>

      <div class="col-md-12 mt-2 mb-5">
        <h2>How to help this website</h2>
        You can contribute by adding information, source code, etc... on the
        github project : <a class="link-info" href="https://github.com/psenough/livecode.demozoo.org">github.com/psenough</a>
        <br>
        Check also this file <a class="link-info" href="https://github.com/psenough/livecode.demozoo.org/blob/main/CONTRIBUTING.md">CONTRIBUTING.md</a>
      </div>

    </div>

  </div>
</body>

</html>