{% extends '_base.html' %}
{% set page_title = 'About' %}
{% set SITE_ROOT="." %}

{% block head %}
    <meta name="description" content="Live coding performance past event list">
{%- endblock %}

{% block body %}
  <div class="container my-4 px-4 pt-4 pb-2 bg-dark">

    <h1>About</h1>

    <div class="mt-5 mb-4">
      <h2>The Demoscene</h2>
      <p>The demoscene is an international computer art subculture focused on producing demos: self-contained, sometimes extremely small computer programs that produce audiovisual presentations.</p>
      <p>Some references to learn more about the demoscene:</p>
      <ul>
        <li><a class="link-info" href="https://en.wikipedia.org/wiki/Demoscene">Wikipedia article</a></li>
        <li><a class="link-info" href="https://github.com/psenough/teach_yourself_demoscene_in_14_days">Teach Yourself Demoscene in 14 Days</a></li>
      </ul>
    </div>

    <div class="mt-5 mb-4">
      <h2>Live Coding</h2>
      <p>Live Coding is a contributive performance with one or multiple artists using code to generate real-time graphics and/or music.</p>
    </div>

    <div class="my-4">
      <h3>Shader Showdown</h3>
      <p>Two performers, during 25 minutes and with the same starting screen, sit down and code from memory something that will make the audience vote for them.</p>
      <p>Usually done using a tool called <a class="link-info" href="https://github.com/Gargaj/Bonzomatic">Bonzomatic</a>.</p>
    </div>

    <div class="my-4">
      <h3>Shader Jam</h3>
      <p>Multiple live coders just jamming some visuals for a music act/DJ set.</p>
    </div>

    <div class="my-4">
      <h3>Shader Royale</h3>
      <p>Bigger number of live coders (not just two as in a Shader Showdown), starting at same time, getting eliminated by the audience votes in a Battle Royale format.</p>
    </div>

   <div class="my-4">
      <h3>Byte Battle</h3>
      <p>Similar to Shader Showdown, but using the fantasy console <a class="link-info" href="https://tic80.com/">TIC-80</a>, and limited to 256 bytes is code length.</p>
    </div>

    <div class="mt-5 mb-4">
      <h2>How to contribute</h2>
      <p>You can contribute to this website by submitting missing information, source code, etc. to the <a class="link-info" href="https://github.com/psenough/livecode.demozoo.org">GitHub project</a>.</p>
      <p>Check the <a class="link-info" href="https://github.com/psenough/livecode.demozoo.org/blob/main/CONTRIBUTING.md">contributing guide</a> for submission details.</p>
    </div>

  </div>
{%- endblock %}
