{% extends '_base.html' %}
{% set page_title = 'About' %}
{% set SITE_ROOT = '.' %}

{% block head %}
    <meta name="description" content="Live coding performance past event list">
{%- endblock %}

{% block body %}
  <div class="container my-4 px-4 pt-4 pb-2 bg-dark">

    <h1>About</h1>

    <div class="mt-5 mb-4">
      <h2>The Demoscene</h2>
      <p>The demoscene is an international computer art subculture focused on producing demos: self-contained, sometimes extremely small computer programs that produce audiovisual presentations.</p>
      <p>Since the late 80s the demoscene organize events called demoparties, typically during a weekend, where demosceners gather to socialize and participate in different competitions of digital art involving graphics programming, size coding, graphics and music.</p>
      <p>In 2013 there was a demoparty in Poland that included a different kind of event in their schedule, it involved 16 demosceners doing live code. The event was so successful that other parties picked up the idea and it became what is more known in the demoscene as the Shader Showdown.</p>
      <p>Ofcourse livecode exists beyond the demoscene with other names such as algorave, etc. This website is dedicated to archive only the demoscene related livecoding events.</p>
      <p>More about the demoscene:</p>
      <ul>
        <li><a class="link-info" href="https://en.wikipedia.org/wiki/Demoscene">Wikipedia article</a></li>
        <li><a class="link-info" href="https://github.com/psenough/teach_yourself_demoscene_in_14_days">Teach Yourself Demoscene in 14 Days</a></li>
      </ul>
    </div>

    <div class="mt-5 mb-4">
      <h2>Live Coding</h2>
      <p>Live Coding is a contributive performance with one or multiple artists using code to generate real-time graphics and/or music. More info: <a href="https://github.com/toplap/awesome-livecoding">https://github.com/toplap/awesome-livecoding</a></p>
    </div>

    <div class="my-4">
      <h3>Shader Showdown</h3>
      <p>Two performers sit down and code from memory something that will make the audience vote for them, they both start from same default screen and have 25 mins to finish their effect. Using a pixelshader prototyping tool called <a class="link-info" href="https://github.com/Gargaj/Bonzomatic">Bonzomatic</a>.</p>
    </div>

    <div class="my-4">
      <h3>Shader Jam</h3>
      <p>Multiple live coders jamming some visuals for a music act/DJ set, no voting involved.</p>
    </div>

    <div class="my-4">
      <h3>Shader Royale</h3>
      <p>Larger number of simultaneous live coders participating, all starting at same time. The audience votes who gets eliminated next in a Battle Royale format.</p>
    </div>

   <div class="my-4">
      <h3>Byte Battle</h3>
      <p>Similar to Shader Showdown, but using the fantasy console <a class="link-info" href="https://tic80.com/">TIC-80</a>, and limited to 256 bytes is code length.</p>
    </div>

    <div class="mt-5 mb-4">
      <h2>How to participate</h2>
      <p>To learn shader coding there are a number of useful resources:</p>
      <ul>
        <li><a class="link-info" href="https://www.youtube.com/watch?v=uFFR31t1WMM&ab_channel=RevisionDemoparty">Shader Coding Seminar @ Revision 2019 by Flopine & evvvvil</a></li>
        <li><a class="link-info" href="https://www.twitch.tv/evvvvil_/videos">evvvvil's videos</a></li>
        <li><a class="link-info" href="https://www.youtube.com/c/AntoineZanuttini/videos">NuSan's videos</a></li>
        <li><a class="link-info" href="https://iquilezles.org/www/index.htm">iq's website</a></li>
      </ul>
      <p>To join a future event, check upcoming events and contact the event organizers.</p>
    </div>
    
    <div class="mt-5 mb-4">
      <h2>How to contribute</h2>
      <p>You can contribute to this website by submitting missing information, source code, etc to the <a class="link-info" href="https://github.com/psenough/livecode.demozoo.org">GitHub project</a>.</p>
      <p>Check the <a class="link-info" href="https://github.com/psenough/livecode.demozoo.org/blob/main/CONTRIBUTING.md">contributing guide</a> for submission guidelines and details.</p>
    </div>

  </div>
{%- endblock %}
