<h2>{{event['type']}} @ {{event['title']}} - {{event['date']}}</h2>

{% set staffs = event['staffs']%}
<div>{% include 'staff.html' %}</div>

{% if event['vod'] %}
<div><a href="{{event['vod']}}">🎦</a></div>
{% endif %} 

{% for phase in event['phases'] %}
<div>{% include 'phase.html' %}</div>
{% endfor %}

{% if event['software_used'] %}
<div class="software">
    <h3>Software used</h3>
{% for software in event['software_used'] %}
<div><a href="{{software['url']}}">{{software['name']}}</a></div>
{% endfor %} 
</div>
{% endif %}
