{# For the contributor that will have a look to the design. Sorry by advance and thanks a lot. #}
{% set SITE_ROOT="." %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Future events | Demoscene Livecode Events</title>
  <meta name="description" content="Live coding performance future events" />
  {% include 'head-common.html' %}
</head>

<body class="bg-dark text-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 pt-4 gradient-top">
        {% include 'navbar.html' %}
      </div>
    </div>
  </div>


  <div class="container mt-4 mb-4">

    <div class="row">

      <div class="col-md-12 mt-5 mb-5">
        <h1>Incoming Events</h1>
        The demoscene is an international computer art subculture focused on
        producing demos: self-contained, sometimes extremely small, computer
        programs that produce audiovisual presentations.
      </div>
    </div>
  </div>
  
  <div class="container">

    {% for event in data %}
    <div class="row">
      <hr>
      <div class="col-lg-2">
        {{event['started']}}
      </div>
      <div class="col-lg-3">
        <span class="text-info">{{event['title']}}</span>
      </div>
      <div class="col-lg-7 overflow-hidden">
        <ul>
          {% for key,value in event['informations'].items()|sort()%}
          {%if value %}
          <li><small class="text-muted">{{key}} - {{value}}</small></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      
    </div>
    {% endfor %}

  </div>

</body>

</html>