<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shader Royale</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <meta name="description" content="Shader Showdown past event list" />
    <meta name="keywords" content="GLSL, Shader, Showdown, Shadertoy" />
    <meta name="author" content="psenough, totetmatt" />
  </head>

  <h1>Shader Summary</h1>
  {% for event in events %}
  <div class="event">{% include 'event.html' %}</div>
  {% endfor %}
  <body>
    <video autoplay muted loop id="myVideo">
      <source src="./assets/video/bg.mp4" type="video/mp4" />
    </video>
  </body>
</html>
