{% extends '_base.html' %}
{% set page_title = 'List of Performer' %}
{% set SITE_ROOT = '.' %}


{% block head %}
<meta name="description" content="Live coding performers list">
{%- endblock %}

{% block body %}
<div class="container mt-4 mb-4">

    {% for idx in indices %}
    {% if performers_per_index[idx] %}
    <div class="card row text-center">
        <div class="border-secondary bg-dark">
            <h1>
                {{idx}}
            </h1>
        </div>

        <div class="  border-secondary bg-dark">

            {% for performer_page_id, performer_data in performers_per_index[idx]|sort(attribute='1.name')%}

            <div class="h2"> <a href="/performers/{{performer_page_id}}.html"> {{performer_data.name}} </a></div>

            {% endfor %}

        </div>
    </div>{% endif %}
    {% endfor %}
</div>



{%- endblock %}