{% set SITE_ROOT="." %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Demoscene Livecode Events</title>
  <meta name="description" content="Live coding performance events" />
  {% include 'head-common.html' %}
</head>

<body class="bg-dark text-light">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 pt-4 gradient-top">
        {% include 'navbar.html' %}
      </div>
    </div>
  </div>

  <div class="container mt-4 mb-4">

    <div class="row">
      <div class="col-lg-12">

        <div class="accordion" id="accordionExample">
          {% for event in events|sort(attribute=("started","type")) %}
          {% set post_loop = loop %}
          {% include 'event.html' %}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>

  <video autoplay muted loop id="myVideo">
    <source src="./assets/video/bg.mp4" type="video/mp4" />
  </video>

</body>

</html>