<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="w-100 text-center">
        <span class="navbar-brand">
            <h1 class="display-4 mb-0 text-wrap" id="pageTitle">
                DEMOSCENE LIVECODE EVENTS
            </h1>            
        </span>
        <div>
            <a href="{{SITE_ROOT}}/about.html" class="p-2 pb-1 mb-2 btn btn-lg btn-info">About</a>
            {% for href,year in menu_year_navigation|sort(attribute='1') %}
                {% if current_filename == href %}
                    {% set nav_style = "btn-outline-info" %}
                {% else %}
                    {% set nav_style = "btn-outline-secondary text-light" %}
                {% endif %}
                <a href="{{SITE_ROOT}}/{{href}}" class="p-2 pb-1  mb-2 btn btn-lg {{nav_style}}">{{year}}</a>
            {% endfor %}
            <a href="{{SITE_ROOT}}/upcoming.html" class="p-2 pb-1  mb-2 btn btn-lg btn-success">Upcoming</a>
        </div>
        {# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> #}
        {# <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div> #}
    </div>
    <script src="{{SITE_ROOT}}/assets/js/konami.js"></script>
    <script>
    var easter_egg = new Konami(function() { 
        window.open("https://modarchive.org/index.php?request=view_player&query=149154","_blank")
    });
    </script>
</nav>