{% extends '_base.html' %}
{% set SITE_ROOT = '..' %}

{% block head %}
    <meta name="description" content="Live coding performance events">
{%- endblock %}

{% block body %}


  <div class="container mt-4 mb-4">

    
    <h1 class="mt-5 mb-5 text-center">

      {{metadata['name']}} <a target="_blank" href="https://demozoo.org/parties/series/{{ id }}/"><img height="22" width="auto" src="../assets/img/demozoo.png"></a><a class="ps-2 btn btn-sm btn-dark color-primary" target="_blank" href="{{metadata['website']}}"> <i class="fas fa-link me-1"></i></a>
 
      </h1> 

    <div class="row">
      <div class="col-lg-12">

        <div class="accordion" id="accordionExample">
          {% for event in entries|sort(attribute='type')|sort(attribute='started',reverse=true) %}
          {% set post_loop = loop %}
          {% include '_event.html' %}
          {% endfor %}
        </div>

      </div>
    </div>

  </div>
{%- endblock %}
