{% extends '_base.html' %}
{% set page_title = performer_data.name %}
{% set SITE_ROOT = '..' %}

{% block head %}
    <meta name="description" content="Live coding performances by {{ performer_data.name }}">
{%- endblock %}

{% block body %}
  <div class="container bg-dark">

    <h1 class="mt-5 mb-5 text-center">
    {% if performer_data.get('demozoo_name') %}
      {{ performer_data.demozoo_name }} <a target="_blank" href="https://demozoo.org/sceners/{{ performer_data.demozoo_id }}/"><img height="22" width="auto" src="../assets/img/demozoo.png"></a>
    {% else %}
      {{ performer_data.name }}
    {% endif %}
    </h1>

    {% for _, entry_list in entries.items() %}

    <h3 class="color-primary text-center mb-2">{{ entry_list[0]['event_name'] }} - {{ entry_list[0]['event_started'][:4] }}</h3>

    <div class="row d-flex justify-content-center">

      {% for entry in entry_list %}
      <div class="col-md-4">
        <div class="card border-secondary entry bg-dark mb-5">

          <h5 class="p-2">{% if entry['phase_name'] %} {{ entry['phase_name'] }} {% endif %}</h5>

        {% if entry.get('preview_image') %}
          {# We check if there is a preview image provided. Works only if image is part of the project under ./media #}
          <img src="../media/{{ entry['preview_image'] }}" class="card-img-top">
        {% elif entry.get('shadertoy_url') %}
          {# Backup plan if shadertoy is available, there is a change a preview has been generated #}
          {% set stid = entry['shadertoy_url'].split('/') %}
          <img src="../media/{{ stid[-1] }}.jpg" class="card-img-top">
        {% elif entry.get('tic80_cart_id') %}
          {# Could be a Bytebattle entry (only TIC80) #}
          <img src="../media/cart_{{ entry['tic80_cart_id'] }}.gif" class="card-img-top">
        {% else %}
          {# No preview available so default image #}
          <img src="../assets/img/image-not-found.png" class="card-img-top">
        {% endif %}

          <div class="card-body bg-dark text-light">

            <h5 class="card-title">
              {% if entry.get('rank') %}
              <span class="badge bg-light text-dark">
                {% if entry['rank'] == 1 %} <i class="fas fa-medal"></i>{% endif %}
                {{ entry['rank'] }}
              </span>
              {% endif %}
            </h5>

            <p class="card-text text-secondary">

              {% if entry.get('points') %}
              points <span class="badge bg-dark text-warning">
                {{ entry['points'] }}
              </span>
              <br>
              {% endif %}

              {% if entry.get('vod') %}
              <a class="ps-2 btn btn-sm btn-dark color-primary" target="_blank" href="{{ entry['vod'] }}">
                <i class="fas fa-video"></i>
              </a>
              {% endif %}

              {% if entry.get('shadertoy_url') %}
              Shader toy
              <a class="ps-2 btn btn-sm btn-dark color-primary" target="_blank" href="{{ entry['shadertoy_url'] }}">
                <img height="12" width="auto" class="shadertoy_logo" src="../assets/img/shadertoy.png">
              </a>
              <br>
              {% endif %}

              {% if entry.get('tic80_cart_id') %}
              TIC80.com
              <a class="ps-2 btn btn-sm btn-dark color-primary" target="_blank" href="https://tic80.com/play?cart={{ entry['tic80_cart_id'] }}">
                <i class="fas fa-link"></i>
              </a>
              <br>
              {% endif %}

              {% if entry.get('source_file') %}
              Source Code
              <a class="ps-2 bg-dark color-primary" target="_blank" href="{{ entry['source_file'] }}">
                <i class="fas fa-download"></i>
              </a>
              {% endif %}

            </p>

          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    {% endfor %}

  {% if staff_data %}
    {% for _, staff_list in staff_data.items() %}
    <div class="row mt-5">
      <div class="col-md-6">
        <h5 class="color-primary text-md-end">{{ staff_list[0]['event_name'] }} {{ staff_list[0]['event_started'][:4] }}</h5>
      </div>
      <div class="col-md-6">
        <ul>
          {% for staff in staff_list %}
          <li><span class="text-muted">{% if staff['phase_name'] %}{{ staff['phase_name'] }} - {% endif %}{{ staff['job'] }}</span></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  {% endif %}

  </div>
{%- endblock %}
