{% if phase['title'] %}
<h3>
  {{ phase['title'] }}
  {% if phase['vod'] %}
  <a class="btn btn-sm btn-info" target="_blank" href="{{phase['vod']}}">
    <i class="fas fa-video"></i>
  </a>
  {% endif %}
</h3>

{% endif %}

<div class="row">
  {% for entry in phase['entries'] %}
  <div class="col-12 col-md-6 col-xl-3">

    <div class="card border-secondary mb-4 entry">
      {%if entry['preview_image'] %} 
      {# We check if there is a preview image provided. Works only if image is part of the project under ./media #}
      <img src="./media/{{entry['preview_image']}}" class="card-img-top"/>
      {% elif entry['shadertoy_url']%}
      {# Backup plan if shadertoy is available, there is a change a preview has been generated #}
      {% set stid = entry['shadertoy_url'].split('/') %}
      <img src="./media/{{stid[-1]}}.jpg" class="card-img-top"/>
      {% elif entry['tic80_cart_id'] %}
      {# Could be a Bytebattle entry (only TIC80) #}
      <img src="./media/cart_{{entry['tic80_cart_id'] }}.gif" class="card-img-top"/>
      {% else %}
      {# No preview available so default image #}
      <img src="./assets/img/image-not-found.png" class="card-img-top"/>
      {% endif %}
      <div class="card-body bg-dark text-light">
        <h5 class="card-title">
          {% if entry['rank'] %}
            <span class="badge bg-light text-dark">
            {% if phase['entries']|length > 2 %} 
              {% if entry['rank'] in [1,2,3] %} <i class="fas fa-medal"></i>{% endif %}
            {% else %}
              {% if entry['rank'] == 1 %}  <i class="fas fa-medal"></i>{% endif %}
            {% endif %}
            {{entry['rank']}}
            
            </span>
          {% endif %}

          <span>
            {% if entry['handle'] %}
              {% if entry['handle'].demozoo_id %} 
                {{ handles_demozoo(entry['handle'].demozoo_id) }}
              {% else %}
                {{entry['handle'].name}}
              {% endif %}
            {% endif %}
          </span>

        </h5>
        <p class="card-text text-secondary">
          {% if entry['points'] %}
            points <span class="badge bg-dark text-warning">
              {{entry['points']}}
            </span>
            <br>
          {% endif %}

          {% if entry['vod'] %}
          <a class="ps-2 btn btn-sm btn-dark text-info" target="_blank" href="{{entry['vod']}}">
            <i class="fas fa-video"></i>
          </a>
          {% endif %}

          {% if entry['shadertoy_url']%}
          Shader toy
          <a class="ps-2 btn btn-sm btn-dark text-info" target="_blank" href="{{entry['shadertoy_url']}}">
            <img height="12" width="auto" class="shadertoy_logo" src="./assets/img/shadertoy.png">
          </a>
          <br>
          {% endif %}

          {% if entry['tic80_cart_id']%}
          TIC80.com
          <a class="ps-2 btn btn-sm btn-dark text-info" target="_blank" href="https://tic80.com/play?cart={{entry['tic80_cart_id']}}">
            <i class="fas fa-link"></i>
          </a>
          <br>
          {% endif %}
          
          {% if entry['shader_file'] %}
          shader file
          <a class="ps-2 bg-dark text-info" target="_blank" href="{{entry['shader_file']}}">
            <i class="fas fa-download"></i>
          </a>
          {% endif %}

          {% if entry['id'] %}
          <br>
          id <span class="badge bg-dark text-warning">{{entry['id']}}</span>
          {% endif %}

        </p>

      </div>
    </div>
  </div>

  {% endfor %}
  {% set staffs = phase['staffs']%}
  {% include 'staff.html' %}
</div>