{% extends '_base.html' %}
{% set page_title = 'Upcoming events' %}
{% set SITE_ROOT = '.' %}

{% block head %}
    <meta name="description" content="Live coding performance future events">
{%- endblock %}

{% block body %}
  <div class="container mt-4 mb-4 bg-dark">
    <div class="row">
      <div class="col-md-12 mt-5 mb-5">
        <h1>Upcoming Events</h1>
      </div>
    </div>

    {% for event in data %}
    <div class="row">
      <hr>
      <div class="col-lg-2">
        {{ event['started'] }}
      </div>
      <div class="col-lg-3">
        {% if event['title'] %}
        <span class="color-primary">{{ event['title'] }}</span>
        {% endif %}
      </div>
      <div class="col-lg-7 overflow-hidden">
        <ul>
          {% if event['type'] %}
          <li><small class="text-muted">Type: {{ event['type'] }}</small></li>
          {% endif %}
          {% if event['website'] %}
          <li><small class="text-muted">Website: <a href="{{ event['website'] }}">{{ event['title'] }}</a></small></li>
          {% endif %}
        </ul>
      </div>

    </div>
    {% endfor %}

  </div>

{%- endblock %}
