{% extends '_base.html' %}
{% set page_title = 'Upcoming events' %}
{% set SITE_ROOT = '.' %}

{% block head %}
    <meta name="description" content="Live coding performance future events">
{%- endblock %}

{% block body %}

  <div class="container mt-4 mb-4">
    <div class="row">
      <div class="col-md-12 mt-5 mb-5">
        <h1>Upcoming Events</h1>
      </div>
    </div>
  </div>

  <div class="container">

    {% for event in data %}
    <div class="row">
      <hr>
      <div class="col-lg-2">
        {{ event['started'] }}
      </div>
      <div class="col-lg-3">
        <span class="text-info">{{ event['title'] }}</span>
      </div>
      <div class="col-lg-7 overflow-hidden">
        <ul>
          {% for key,value in event['informations'].items()|sort()%}
          {% if value %}
          <li><small class="text-muted">{{ key }} - {{ value }}</small></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>

    </div>
    {% endfor %}

  </div>

{%- endblock %}
