{% extends '_base.html' %}
{%block opengraph %}
<meta property="og:title" content="All performers from livecode.demozoo.org">
<meta property="og:description" 
  content="All performers from livecode.demozoo.org" />
{% endblock%}
{% block title%}All performers{% endblock%}
{% block body %}
<div class="pure-u-1 page-header">
    <h1>Performers</h1>
</div>
<div class="pure-g perfomer-list-main">
    {% for p in allHandles%}
    <div class="pure-u-1 perfomer-list-group">

        <h1><a href="./performers.html#{{p.letter}}" id="{{p.letter}}">{{p.letter}}</a></h1>
        <div class="pure-g">
            {% for handle in p.handles%}
            <div class="pure-u-1">
               <a href="{{url_for('performer_page',stub=handle.stub)}}#mc">{{handle.displayName}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}